services:
  mysql:
    image: mysql:8.0
    container_name: moviecatalog-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: moviecatalogdb
      MYSQL_USER: moviecataloguser
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3307:3306"   
    volumes:
      - mysql_data:/var/lib/mysql

  api:
    build:
      context: .              
      dockerfile: Dockerfile
    container_name: moviecatalog-api
    restart: always
    depends_on:
      - mysql
    env_file:
      - .env
    environment:
      
      ASPNETCORE_ENVIRONMENT: Development

    ports:
      - "8080:8080"

volumes:
  mysql_data:
